
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

#cache
.turbo
.next
.vercel

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# local env files
.env*

out/
build/
dist/

# plasmo - https://www.plasmo.com
.plasmo

# bpp - http://bpp.browser.market/
keys.json

# typescript
.tsbuildinfo

*.pem

*.crx
.vscode/*
apps/extension/node_modules/
apps/nextjs/node_modules
apps/

pnpm-lock.yaml
apps/extension/node_modules/plasmo
apps/extension/node_modules/tailwindcss
apps/extension/node_modules/webextension-polyfill
apps/extension/node_modules/.bin/plasmo
apps/extension/node_modules/.bin/tailwind
apps/extension/node_modules/.bin/tailwindcss
apps/nextjs/node_modules/geist
apps/nextjs/node_modules/next
apps/nextjs/node_modules/tailwindcss
apps/nextjs/node_modules/.bin/next
apps/nextjs/node_modules/.bin/tailwind
apps/nextjs/node_modules/.bin/tailwindcss
apps/nextjs/node_modules/@next/third-parties
apps/nextjs/node_modules/@trpc/react-query
packages/api/package.json
packages/api/node_modules/.bin/acorn
packages/api/node_modules/.bin/eslint
packages/api/node_modules/.bin/prettier
packages/api/node_modules/.bin/tsc
packages/api/node_modules/.bin/tsserver
packages/api/node_modules/.cache/tsbuildinfo.json
packages/api/node_modules/@polkadot/api
packages/db/node_modules/drizzle-orm
packages/db/node_modules/drizzle-zod
packages/db/node_modules/.bin/acorn
packages/db/node_modules/.bin/esbuild
packages/lib/node_modules/.bin/acorn
packages/ui/node_modules/next-themes
packages/ui/node_modules/sonner
packages/ui/node_modules/tailwindcss
packages/ui/node_modules/tailwindcss-animate
packages/ui/node_modules/.bin/acorn
packages/ui/node_modules/.bin/tailwind
packages/ui/node_modules/.bin/tailwindcss
packages/ui/node_modules/.bin/ts-node
packages/ui/node_modules/.bin/ts-node-cwd
packages/ui/node_modules/.bin/ts-node-esm
packages/ui/node_modules/.bin/ts-node-script
packages/ui/node_modules/.bin/ts-node-transpile-only
packages/ui/node_modules/.bin/ts-script
packages/ui/node_modules/@hookform/resolvers
packages/ui/node_modules/@radix-ui/react-dropdown-menu
packages/ui/node_modules/@radix-ui/react-label
packages/validators/node_modules/.bin/acorn
tooling/eslint/node_modules/eslint-plugin-import
tooling/eslint/node_modules/.bin/acorn
tooling/prettier/node_modules/prettier-plugin-tailwindcss
tooling/prettier/node_modules/.bin/browserslist
tooling/prettier/node_modules/@ianvs/prettier-plugin-sort-imports
tooling/tailwind/node_modules/tailwindcss
tooling/tailwind/node_modules/tailwindcss-animate
tooling/tailwind/node_modules/.bin/acorn
tooling/tailwind/node_modules/.bin/tailwind
tooling/tailwind/node_modules/.bin/tailwindcss
tooling/tailwind/node_modules/.bin/ts-node
tooling/tailwind/node_modules/.bin/ts-node-cwd
tooling/tailwind/node_modules/.bin/ts-node-esm
tooling/tailwind/node_modules/.bin/ts-node-script
tooling/tailwind/node_modules/.bin/ts-node-transpile-only
tooling/tailwind/node_modules/.bin/ts-script
tooling/tailwind/node_modules/@tailwindcss/typography
